* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f8f7f5;
    color: #1b1b1b;
}


/* ================= MENU ================= */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(5, 25, 70, 0.95);
    backdrop-filter: blur(10px);
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #e8c97a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e8c97a;
}


/* ================= CAPA ================= */

.hero {

    min-height: 100vh;

    background-image:
    url("coloque-aqui-a-foto-do-casal.jpg");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    position: relative;

}


.overlay {

    position: absolute;

    inset: 0;

    background:
    linear-gradient(
        rgba(3,18,55,0.75),
        rgba(3,18,55,0.65)
    );

}


.hero-content {

    position: relative;

    max-width: 850px;

    padding: 30px;

    color: white;

    animation: aparecer 2s ease;

}


.hero h1 {

    font-family: 'Cormorant Garamond', serif;

    font-size: 80px;

    color: #f0d48a;

}


.hero h2 {

    font-size: 32px;

    margin-bottom: 30px;

}


.versiculo {

    font-size: 18px;

    font-style: italic;

    line-height: 1.8;

}


.boas-vindas {

    margin-top: 30px;

    font-size: 17px;

    line-height: 1.8;

}


/* BOTÃO PRINCIPAL */

.botao-principal {

    display: inline-block;

    margin-top: 35px;

    padding: 15px 35px;

    border-radius: 50px;

    background: #d8b35a;

    color: white;

    text-decoration: none;

    transition: .3s;

}


.botao-principal:hover {

    transform: scale(1.05);

    background: #b9943e;

}


/* ================= CONTADOR ================= */


.contador {

    text-align: center;

    padding: 70px 20px;

    background: #071d4d;

    color: white;

}


.contador h2 {

    font-family: 'Cormorant Garamond', serif;

    font-size: 45px;

    color: #e8c97a;

}


#contador {

    font-size: 40px;

    margin: 25px 0;

    font-weight: bold;

}
